h1 {
	text-align: center;
}
.button {
	width: 150px;
	height: 150px;
	align-self: center;
	margin: auto;
	border: solid black 2px;
}
.buttons {
	display: flex;
}

#violet {
	background-color: violet;
}

#indigo {
	background-color: indigo;
}

#blue {
	background-color: blue;
}
#green {
	background-color: green;
}

#yellow {
	background-color: yellow;
}

#orange {
	background-color: orange;
}

#red {
	background-color: red;
}

.button:hover {
	cursor: pointer;
}
